################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/**
/backend/Sample.App/sample.db
/backend/Sample.App/sample.db-shm
/backend/Sample.App/sample.db-wal
/**/**/bin/**
/**/**/obj/**
